<nav>
	<li class="<%= (typeof page != 'undefined' && page == 'home' ? 'active' : '') %> navMenu"><a href="/">Home</a></li>
	<li class="<%= (typeof page != 'undefined' && page == 'product' ? 'active' : '') %> navMenu"><a href="/product">Product</a></li>
	<li class="<%= (typeof page != 'undefined' && page == 'contact' ? 'active' : '') %> navMenu"><a href="/contact">Contact</a></li>
</nav>